NotebookWebServiceFromWSDL/src/wsdl/notebook.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.7-hudson-48-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.7-hudson-48-. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://notebookwebservice.lisi.ensma.fr/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://notebookwebservice.lisi.ensma.fr/" name="Notebook">
	<types>
		<xs:schema xmlns:tns="http://notebookwebservice.lisi.ensma.fr/"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
			targetNamespace="http://notebookwebservice.lisi.ensma.fr/">

			<xs:element name="addPersonWithComplexType" type="tns:addPersonWithComplexType" />

			<xs:element name="addPersonWithComplexTypeResponse" type="tns:addPersonWithComplexTypeResponse" />

			<xs:element name="addPersonWithSimpleType" type="tns:addPersonWithSimpleType" />

			<xs:element name="getPersonByName" type="tns:getPersonByName" />

			<xs:element name="getPersonByNameResponse" type="tns:getPersonByNameResponse" />

			<xs:element name="getPersons" type="tns:getPersons" />

			<xs:element name="getPersonsResponse" type="tns:getPersonsResponse" />

			<xs:complexType name="getPersonByName">
				<xs:sequence>
					<xs:element name="personName" type="xs:string"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getPersonByNameResponse">
				<xs:sequence>
					<xs:element name="getPersonResult" type="tns:person"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="person">
				<xs:sequence>
					<xs:element name="address" type="xs:string" minOccurs="0" />
					<xs:element name="birthyear" type="xs:string" minOccurs="0" />
					<xs:element name="name" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="addPersonWithComplexType">
				<xs:sequence>
					<xs:element name="newPerson" type="tns:person"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="addPersonWithComplexTypeResponse">
				<xs:sequence>
					<xs:element name="addPersonWithComplexTypeResult" type="xs:boolean" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="addPersonWithSimpleType">
				<xs:sequence>
					<xs:element name="name" type="xs:string" minOccurs="0" />
					<xs:element name="address" type="xs:string" minOccurs="0" />
					<xs:element name="birthyear" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getPersons">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="getPersonsResponse">
				<xs:sequence>
					<xs:element name="getPersonsResult" type="tns:person"
						nillable="true" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="addPersonWithComplexType">
		<part name="parameters" element="tns:addPersonWithComplexType" />
	</message>
	<message name="addPersonWithComplexTypeResponse">
		<part name="parameters" element="tns:addPersonWithComplexTypeResponse" />
	</message>
	<message name="getPersonByName">
		<part name="parameters" element="tns:getPersonByName" />
	</message>
	<message name="getPersonByNameResponse">
		<part name="parameters" element="tns:getPersonByNameResponse" />
	</message>
	<message name="getPersons">
		<part name="parameters" element="tns:getPersons" />
	</message>
	<message name="getPersonsResponse">
		<part name="parameters" element="tns:getPersonsResponse" />
	</message>
	<message name="addPersonWithSimpleType">
		<part name="parameters" element="tns:addPersonWithSimpleType" />
	</message>
	<portType name="Notebook">
		<operation name="addPersonWithComplexType">
			<input message="tns:addPersonWithComplexType" />
			<output message="tns:addPersonWithComplexTypeResponse" />
		</operation>
		<operation name="getPersonByName">
			<input message="tns:getPersonByName" />
			<output message="tns:getPersonByNameResponse" />
		</operation>
		<operation name="getPersons">
			<input message="tns:getPersons" />
			<output message="tns:getPersonsResponse" />
		</operation>
		<operation name="addPersonWithSimpleType">
			<input message="tns:addPersonWithSimpleType" />
		</operation>
	</portType>
	<binding name="NoteBookPortBinding" type="tns:Notebook">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="addPersonWithComplexType">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getPersonByName">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getPersons">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="addPersonWithSimpleType">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
	</binding>
	<service name="Notebook">
		<port name="NoteBookPort" binding="tns:NoteBookPortBinding">
			<soap:address location="http://localhost:8081/NotebookWebService/notebook" />
		</port>
	</service>
</definitions>